body {
    background-image: url('../Resources/Claimy_Logo_OG.png');
    background-size: cover;
}

.borderless td, .borderless th {
    border: none;
    text-align: left;
    margin-right: 25px;
}

.informationBar {
    background-color: lightskyblue;
    font-size: 25px;
}

.barItemButton, .selectedBarItemButton {
    background-color: lightskyblue;
    color: white;
}

    .barItemButton:hover, .selectedBarItemButton:hover {
        text-decoration: none;
        background-color: lightskyblue;
        color: grey;
    }

.selectedBarItemButton{
    font-weight: bold;
}

table, th {
    padding: 25px;
    text-align: left;
}

td {
    text-align: left;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    font-size: 18px;
}

input {
    display: inline-block;
    float: left;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ImageBox {
    content: "";
    clear: both;
}

.createClaimTable{
    padding: 20px;
}