body {
    background-image: url('../Resources/Claimy_Logo_OG.png');
    background-size: cover;
}

.borderless td, .borderless th {
    border: none;
}

.informationBar {
    background-color: lightskyblue;
    font-size: 25px;
}

.barItemButton {
    background-color: lightskyblue;
    color: white;
}

    .barItemButton:hover {
        text-decoration: none;
        background-color: lightskyblue;
        color: grey;
    }

table, th {
    padding: 25px;
    text-align: left;
}

td {
    text-align: left;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}