body {
    background-image: url('../Resources/Claimy_Logo_OG.png');
    background-size: cover;
}

    /* This is the top bar of the screen */
.informationBar {
    background-color: lightskyblue;
    font-size: 25px;
}

.barItemButton {
    background-color: lightskyblue;
    color: white;
}

    .barItemButton:hover {
        text-decoration: none;
        background-color: lightskyblue;
        color: grey;
    }

.barItemButton2 {
    background-color: lightskyblue;
    color: white;
    float: right;
}

    .barItemButton2:hover {
        text-decoration: none;
        background-color: lightskyblue;
        color: grey;
    }
    /* top bar ends here */




/*.loginButton {
    text-align: right;
    background-color: lightskyblue;
    color: white;
}

    .loginButton:hover {
        text-decoration: none;
        background-color: lightskyblue;
        color: grey;
    }*/