body {
    background-image: url('../Resources/Claimy_Logo_OG.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#header {

}

.rounded {
    background-color: lightskyblue;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: .25rem !important;
    height: 220px;
    width: 210px;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    background-color: transparent;
}

.row {
    
}

.navbar, navbar-expand-lg, navbar-light, bg-light {
    background-color: lightskyblue !important;
}