body {
    background-image: url('../Resources/Claimy_Logo_OG.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#header {

}

.rounded {
    background-color: #537DA6;
    border-style: solid;
    border-color: #537DA6;
    border-radius: .25rem !important;
    height: 220px;
    width: 210px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.row {
    
}

.navbar, navbar-expand-lg, navbar-light, bg-light {
    background-color: #537DA6 !important;
}