<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
</head>
<body>
    
    <div id="include"></div>

            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <label style="margin-right: 25px">Name</label>
                            <input style="border-color:deepskyblue" id="NameTextBox" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <label style="margin-right: 25px">City</label>
                            <input style="border-color:deepskyblue" id="CityTextBox" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <label style="margin-right: 25px">Ticket amount</label>
                            <input style="border-color:deepskyblue" id="TicketAmountTextBox" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <label style="margin-right: 25px">Parking Department</label>
                            <input style="border-color:deepskyblue" id="ParkingDepartmentTextBox" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <label style="margin-right: 25px">Ticket ID</label>
                            <input style="border-color:deepskyblue" id="TicketIDTextBox" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <label style="margin-right: 25px">Time of Day</label>
                            <input style="border-color:deepskyblue" id="ToDTextBox" />
                        </td>
                    </tr>
                </tbody>
            </table>

    <div class="ImageBox">
        <h2>Upload a picture of the fine</h2>
        <form action="/action_page.php">
            <input type="file" name="ticketPicture" accept="image/*">
            <input type="submit">
        </form>
    </div>
    <div class="ParkingImage">
        <h2>Upload a picture of your parked car(optional)</h2>
        <form action="/action_page.php">
            <input type="file" name="parkingPicture" accept="image/*" />
            <input type="submit" />
        </form>
    </div>

    <!--Used for testing input-->

    <input type="button" value="Click Me" id="myButton" />

    <script>
        document.getElementById("myButton").onclick = function () {
            window.alert(document.getElementById('NameTextBox').value);
            window.alert(document.getElementById('CityTextBox').value);
            window.alert(document.getElementById('TicketAmountTextBox').value);
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

    <!--random comment-->
</body>
</html>
