<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/CSS/NavigationBarCSS.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../CSS/NavigationBarCSS.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Claimy - Om os!</title>
</head>
<body>

    <!--Navigation bar-->
    <nav class="navbar navbar-expand navbar-light">
        <div class="nav navbar-nav">
            <a class="navbar-brand" href="ClaimyFrontPage.html"><img src="../Resources/ClaimyTransparent2.png" style="height: 50px; width: 200px;" /> </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="AboutUsPage.html" style="color:white; list-style: none; margin: 15px; ">Om os</a></li>
                <li><a href="CreateAccount.html" style="color: white; list-style: none; margin: 15px;"><i class="fa fa-user"></i>Tilmeld dig</a></li>
                <li><a href="ClaimyLoginPage.html" style="color: white; list-style: none; margin: 15px; "><i class="fa fa-lock"></i> Login</a></li>
            </ul>
        </div>
    </nav>


    <div id="carouselExampleIndicators" class="carousel slide size col-xl-8 offset-2" data-ride="carousel" style="max-height: 500px; min-height: 500px;">
        <!--Der skal findes en metode hvor billederne har den samme størrelse-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Resources/claimyDarkBlueLogo.png" class="d-block w-100 h-25" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/Resources/ClaimyAnsatte.PNG" class="d-block w-100 h-25" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Tilbage</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Næste</span>
        </a>
    </div>



    <div class="jumbotron jumbotron-fluid col-xl-8 offset-2" style="margin-top: 200px;">
        <div class="container">
            <div id="txt" onload="load()"></div>
        </div>
    </div>

    <!--Social media footer-->
    <div class="container-fluid col-8 offset-2">
        <div class="card-footer">
            <h5 class="card-titlecol-8 offset-2">Find os på:</h5>
            <ul class="SocialMediaButtons col-4 offset-2">
                <li style="list-style-type: none;">
                    <a href="https://www.facebook.com/Claimy-112382550242297/" title="Følg os på Facebook">
                        <i class="fa fa-facebook" style="font-size:36px"></i>
                    </a>

                </li>
            </ul>
            <ul class="list-group col-8 offset-2 container-fluid ">
                <p>Claimy kan kontaktes på telefon eller via chat og e-mail.</p>
                <p>+45 60 22 30 50</p>
                <p>info@claimy.dk</p>
                <p>Alsion 2, 6400 Sønderborg</p>
            </ul>
        </div>
    </div>


    <script>
        var txtFile = new XMLHttpRequest();
        var allText = "file not found";
        txtFile.onreadystatechange = function () {
            if (txtFile.readyState === XMLHttpRequest.DONE && txtFile.status == 200) {
                allText = txtFile.responseText;
                allText = allText.split("\n").join("<br>");
            }

            document.getElementById('txt').innerHTML = allText;
        }
        txtFile.open("GET", '/Resources/ClaimyText.txt', true);
        txtFile.send(null);
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>