<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Claimy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/CreateClaim.css" />

    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!--Information Bar - keep on all pages.-->
    <nav class="navbar navbar-expand navbar-light bg-dark">
        <div class="nav navbar-nav">
            <a class="navbar-brand" href="ClaimyFrontPage.html"><img src="../Resources/ClaimyTransparent2.png" style="height: 50px; width: 200px;" /> </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="AboutUsPage.html" style="color:white; list-style: none; margin: 15px; ">about us</a></li>
                <li><a href="CreateAccount.html" style="color: white; list-style: none; margin: 15px;"><i class="fa fa-user"></i> Sign Up</a></li>
                <li><a href="ClaimyLoginPage.html" style="color: white; list-style: none; margin: 15px; "><i class="fa fa-lock"></i> Login</a></li>
            </ul>
        </div>
    </nav>

    <!--Table for entering information regarding ticket-->
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <table class="table borderless">
                        <tbody>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Bøde ID</label>
                                    <input type="text" class="input-group-prepend" id="TicketIDBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Overtrædelse</label>
                                    <input type="text" class="input-group-prepend" id="ViolationBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Skattenummer</label>
                                    <input type="text" class="input-group-prepend" id="TaxNumberBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Dato</label>
                                    <input type="date" class="input-group-prepend" id="DateBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Tidspunkt</label>
                                    <input type="time" class="input-group-prepend" id="TimeOfDayBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Registreringsnummer (bil)</label>
                                    <input type="text" class="input-group-prepend" id="CarRegBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Parkeringsplads-ID</label>
                                    <input type="text" class="input-group-prepend" id="parkingSpaceIDBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Parkeringsvagt-nummer</label>
                                    <input type="text" class="input-group-prepend" id="TraficOfficerIDBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Parkeringsafgift</label>
                                    <input type="text" class="input-group-prepend" id="ParkingAmountBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Kontonummer</label>
                                    <input type="text" class="input-group-prepend" id="PaymentInfoBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">Bilmærke</label>
                                    <input type="text" class="input-group-prepend" id="CarBrandBox" />
                                </td>
                            </tr>
                            <tr>
                                <th class="row"></th>
                                <td>
                                    <label class="createClaimLabel">CVR-Nummer</label>
                                    <input type="text" class="input-group-prepend" id="CVRNumberBox" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--For uploading images of ticket and car-->
                <div class="col">
                    <div class="row top-buffer">
                        <h3>Upload a picture of the fine</h3>
                    </div>
                    <div class="row">
                        <form action="/action_page.php">
                            <input type="file" name="ticketPicture" accept="image/*">
                            <input type="submit">
                        </form>
                    </div>
                    <div class="row top-buffer">
                        <h3>Upload a picture of your parked car(optional)</h3>
                    </div>
                    <div class="row">
                        <form action="/action_page.php">
                            <input type="file" name="parkingPicture" accept="image/*" />
                            <input type="submit" />
                        </form>
                    </div>
                </div>
            </div>
            <!-- The submit button -->
            <div class="row top-buffer">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="submitButton" id="SubmitButton">Submit Claim</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Social media footer-->
    <div class="container-fluid col-8 offset-2">
        <div class="card-footer">
            <h5 class="card-titlecol-8 offset-2">Find os på:</h5>
            <ul class="SocialMediaButtons col-4 offset-2">
                <li style="list-style-type: none;">
                    <a href="https://www.facebook.com/Claimy-112382550242297/" title="Følg os på Facebook">
                        <i class="fa fa-facebook" style="font-size:36px"></i>
                    </a>
                </li>
            </ul>
            <ul class="list-group col-8 offset-2 container-fluid ">
                <p>Claimy kan kontaktes telefonisk, via chat og e-mail.</p>
                <p>+45 60 22 30 50</p>
                <p>info@claimy.dk</p>
                <p>Alsion 2, 6400 Sønderborg</p>
            </ul>
        </div>
    </div>

    <!--Writing to the database script-->
    <script>

        var ticketObj = new Object;

        document.getElementById("SubmitButton").onclick = function () {

            var ticketID = document.getElementById("TicketIDBox");
            var violation = document.getElementById("ViolationBox");
            var taxNumber = document.getElementById("TaxNumberBox");
            var selectedDate = document.getElementById("DateBox");
            var timeOfDay = document.getElementById("TimeOfDayBox");
            var carReg = document.getElementById("CarRegBox");
            var parkingID = document.getElementById("parkingSpaceIDBox")
            var trafficOfficerID = document.getElementById("TraficOfficerIDBox");
            var parkingAmount = document.getElementById("ParkingAmountBox");
            var paymentInfo = document.getElementById("PaymentInfoBox");
            var carBrand = document.getElementById("CarBrandBox");
            var CVR = document.getElementById("CVRNumberBox");

            ticketObj.fld_Ticket_ID = ticketID;
            ticketObj.fld_Law_Violation = violation;
            ticketObj.fld_tax_number = taxNumber;
            ticketObj.fld_date_time = selectedDate + "" + timeOfDay;
            ticketObj.fld_car_reg = carReg;
            ticketObj.fld_parkingspace_id = parkingID;
            ticketObj.fld_traffic_warden_no = trafficOfficerID;
            ticketObj.fld_amount = parkingAmount;
            ticketObj.fld_payment_info = paymentInfo;
            ticketObj.fld_car_brand = carBrand;
            ticketObj.fld_CVRNumber = CVR;
            ticketObj.fld_Customer_ID = 1;

            xhr = new XMLHttpRequest();
            var url = "https://localhost:44324/api/TicketCaseTables";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.onreadystatechange = function () { 
            if (xhr.readyState == 4 && xhr.status == 200) {
                    var json = JSON.parse(xhr.responseText);
                    console.log(json.email + ", " + json.name)
                }
            }

            var data = JSON.stringify(ticketObj);
            xhr.send(data);

            console.log(JSON.stringify(ticketObj));

        };
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>