<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Claimy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/CreateClaim.css"/>
</head>
<body>

    <!--Information Bar - keep on all pages.-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> <img src="~/Resource/Claimy_Logo_OG.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">File claim <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="createClaimTable">
        <div class="row">
            <div class="col-md">

                <!--Table for entering information regarding ticket-->
                <table class="table borderless">
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <label style="margin-right: 25px">Name</label>
                                <input style="border-color:deepskyblue" id="NameTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <label style="margin-right: 25px">City</label>
                                <input style="border-color:deepskyblue" id="CityTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <label style="margin-right: 25px">Ticket amount</label>
                                <input style="border-color:deepskyblue" id="TicketAmountTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <label style="margin-right: 25px">Parking Department</label>
                                <input style="border-color:deepskyblue" id="ParkingDepartmentTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <label style="margin-right: 25px">Ticket ID</label>
                                <input style="border-color:deepskyblue" id="TicketIDTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <label style="margin-right: 25px">Time of Day</label>
                                <input style="border-color:deepskyblue" id="ToDTextBox" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md">

                <!--For uploading images of ticket and car-->
                <div class="ImageBox">
                    <h3>Upload a picture of the fine</h3>
                    <form action="/action_page.php">
                        <input type="file" name="ticketPicture" accept="image/*">
                        <input type="submit">
                    </form>
                </div>

                <div class="ParkingImage">
                    <h3>Upload a picture of your parked car(optional)</h3>
                    <form action="/action_page.php">
                        <input type="file" name="parkingPicture" accept="image/*" />
                        <input type="submit" />
                    </form>
                </div>

            </div>
        </div>
    </div>





</body>
</html>