<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Customer site - Claimy</title>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" id="NavigationID">
        <a class="navbar-brand" href="#"> <img src="../Resources/ClaimyTransparent2.png" style="height: 50px; width: 200px;" /></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="color: white;">
                <li class="nav-item active">
                    <a class="nav-link" href="ClaimyFrontPage.html" style="color: white;">File claim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loginForm1.html" style="color: white;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CreateAccount.html" style="color: white;">Create account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AboutUsPage.html" style="color: white;">About us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" id="Current claims">

    </div>

    <div class="container-fluid" id="Information">
        <label id="Name"></label>
        <label id="Adress"></label>
        <label id="City"></label>
    </div>

    <div class="container-fluid" id="Current claims"></div>


    <!--Social media footer-->
    <div class="container-fluid " style="margin-top: 100px;">

        <div class="card-footer">
            <h5 class="card-title">Find os på:</h5>
            <ul class="SocialMediaButtons">
                <li style="list-style-type: none">
                    <a href="https://www.facebook.com/Claimy-112382550242297/" title="Følg os på Facebook">
                        <i class="fa fa-facebook" style="font-size:36px"></i>
                    </a>
                    <p>Claimy kan kontaktes telefonisk, via chat og e-mail.</p>
                    <p>+45 60 22 30 50</p>
                    <p>info@claimy.dk</p>
                    <p>Alsion 2, 6400 Sønderborg</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>