<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="LoginCss.scss" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/CSS/NavigationBarCSS.css" />

    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand navbar-light bg-dark">
        <div class="nav navbar-nav">
            <a class="navbar-brand" href="ClaimyFrontPage.html"><img src="../Resources/ClaimyTransparent2.png" style="height: 50px; width: 200px;" /> </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="AboutUsPage.html" style="color:white; list-style: none; margin: 15px; ">about us</a></li>
                <li><a href="CreateAccount.html" style="color: white; list-style: none; margin: 15px;"><i class="fa fa-user"></i> Sign Up</a></li>
                <li><a href="ClaimyLoginPage.html" style="color: white; list-style: none; margin: 15px; "><i class="fa fa-lock"></i> Login</a></li>
            </ul>
        </div>
    </nav>

    <form>
        <div class="container-fluid" id="loginForm">
            <input type="text" id="inputUserName" class="form-control col-md-2 offset-sm-5 justify-content-center" placeholder="Username" aria-label="Username" style="margin: 25px;" />
            <input type="password" id="inputPassword" class="form-control col-md-2 offset-sm-5 justify-content-center" placeholder="Password" aria-label="Password" style="margin: 25px;" />
        </div>
        <div id="continueLogin">
            <button type="button" class="btn-info offset-1 justify-content-center"><a href="CustomerPage.html"></a>Login </button>
            
        </div>
    </form>



    <!--Social media footer-->
    <div class="container-fluid col-8 offset-2">
        <div class="card-footer">
            <h5 class="card-titlecol-8 offset-2">Find os på:</h5>
            <ul class="SocialMediaButtons col-4 offset-2">
                <li style="list-style-type: none;">
                    <a href="https://www.facebook.com/Claimy-112382550242297/" title="Følg os på Facebook">
                        <i class="fa fa-facebook" style="font-size:36px"></i>
                    </a>

                </li>
            </ul>
            <ul class="list-group col-8 offset-2 container-fluid ">
                <p>Claimy kan kontaktes telefonisk, via chat og e-mail.</p>
                <p>+45 60 22 30 50</p>
                <p>info@claimy.dk</p>
                <p>Alsion 2, 6400 Sønderborg</p>
            </ul>
        </div>
    </div>

    <!--Retrieve login information-->
    <script>
        document.getElementById("continueLogin").onclick = function () {

            var Username = document.getElementById('inputUserName').value;
            var password = document.getElementById('inputPassword').value;

            var userObject = new Object();
            userObject.Username = Username;
            userObject.password = password;

            console.log(JSON.stringify(userObject));

        }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>